<!DOCTYPE html>
<html lang="en">
<head>
    <title>Courses - EduJet</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{{ url_for('styles') }}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="bg-primary text-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">EduJet</a>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarNav" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('courses') }}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<main>
    <section class="bg-light page-section" id="courses">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Courses</h2>
                <h3 class="section-subheading text-muted">Our Course Offerings</h3>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 courses-item">
                    <a class="courses-link" data-toggle="modal" href="#coursesModal1">
                        <div class="courses-hover">
                            <div class="courses-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-fluid" src="{{ url_for('static', filename='/img/python.jpg') }}">
                        <div class="courses-caption">
                            <h4>Introduction to Python</h4>
                            <p class="text-muted">Learn the basics of the Python programming language and how to write
                                scripts and automate tasks.</p>
                        </div>
                        <a class="btn btn-primary" href="{{ url_for('contact') }}">Register</a>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 courses-item">
                    <a class="courses-link" data-toggle="modal" href="#coursesModal2">
                        <div class="courses-hover">
                            <div class="courses-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-fluid" src="{{ url_for('static', filename='/img/dsa.png') }}">
                        <div class="courses-caption">
                            <h4>Data Structures and Algorithms</h4>
                            <p class="text-muted">Study data structures such as arrays, linked lists, stacks, and
                                queues, and learn how to implement common algorithms like searching and sorting.</p>
                        </div>
                        <a class="btn btn-primary"
                           href="{{ url_for('contact') }}">Register</a>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 courses-item">
                    <a class="courses-link" data-toggle="modal" href="#coursesModal3">
                        <div class="courses-hover">
                            <div class="courses-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-fluid"
                             src="{{ url_for('static', filename='/img/Web-Development.jpg') }}">
                        <div class="courses-caption">
                            <h4>Introduction to Web Development</h4>
                            <p class="text-muted">Get an overview of web development concepts and build your first
                                website.</p>
                        </div>
                        <a class="btn btn-primary"
                           href="{{ url_for('contact') }}">Register</a>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 courses-item">
                    <a class="courses-link" data-toggle="modal" href="#coursesModal3">
                        <div class="courses-hover">
                            <div class="courses-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-fluid" src="{{ url_for('static', filename='/img/dbms.jpg') }}">
                        <div class="courses-caption">
                            <h4>Database Management</h4>
                            <p class="text-muted">Explore the fundamentals of database design and learn SQL to create
                                and manage databases, as well as retrieve and manipulate data.</p>
                        </div>
                        <a class="btn btn-primary"
                           href="{{ url_for('contact') }}">Register</a>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 courses-item">
                    <a class="courses-link" data-toggle="modal" href="#coursesModal3">
                        <div class="courses-hover">
                            <div class="courses-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-fluid" src="{{ url_for('static', filename='/img/agile.jpg') }}">
                        <div class="courses-caption">
                            <h4>Agile Project Management</h4>
                            <p class="text-muted">Discover the Agile methodology for software development and learn how
                                to apply its principles to manage projects, work with stakeholders, and track
                                progress.</p>
                        </div>
                        <a class="btn btn-primary" href="{{ url_for('contact') }}">Register</a>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 courses-item">
                    <a class="courses-link" data-toggle="modal" href="#coursesModal3">
                        <div class="courses-hover">
                            <div class="courses-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-fluid"
                             src="{{ url_for('static', filename='/img/Data-science-fundamentals.gif') }}">
                        <div class="courses-caption">
                            <h4>Data Science Fundamentals</h4>
                            <p class="text-muted">Understand data collection, analysis, and visualization techniques to
                                make informed decisions.</p>
                        </div>
                        <a class="btn btn-primary" href="{{ url_for('contact') }}">Register</a>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 courses-item">
                    <a class="courses-link" data-toggle="modal" href="#coursesModal3">
                        <div class="courses-hover">
                            <div class="courses-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-fluid" src="{{ url_for('static', filename='/img/fullstack.png') }}">
                        <div class="courses-caption">
                            <h4>Full-Stack Development</h4>
                            <p class="text-muted">Gain a comprehensive understanding of how front-end and back-end
                                technologies interact and learn how to build full-stack web applications using popular
                                frameworks and technologies.</p>
                        </div>
                        <a class="btn btn-primary" href="{{ url_for('contact') }}">Register</a>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 courses-item">
                    <a class="courses-link" data-toggle="modal" href="#coursesModal3">
                        <div class="courses-hover">
                            <div class="courses-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img alt="" class="img-fluid"
                             src="{{ url_for('static', filename='/img/digital-marketing.jpg') }}">
                        <div class="courses-caption">
                            <h4>Digital Marketing 101</h4>
                            <p class="text-muted">Learn how to build and train models that can learn patterns in data on
                                their own.</p>
                        </div>
                        <a class="btn btn-primary"
                           href="{{ url_for('contact') }}">Register</a>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>EduJet &copy; 2023</p>
    </div>
</footer>
<script src="{{ url_for('script') }}" type="text/javascript"></script>
</body>
</html>
